body {
    background-image:url(/img/fondo_index.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(113, 43, 226);
    margin: 0;
    padding: 0;
}
.flex-item {
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 130px;
}
::-webkit-scrollbar {
    display: none;
}
a{
    border: 1px solid #5e00b6; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #681ae6; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: double; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px; /*bordes redondos*/
    }
ul{
    display: flex;
    width: 100%;
    list-style: none;
    border: 2px solid rebeccapurple;
    padding: 5px;
    background-color: #c5ee67;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
}