body {
    background-image:url(/img/fondo_index.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(113, 43, 226);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.flex-item {
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 130px;
}
::-webkit-scrollbar {
    display: none;
}
.footer ul a{
    border: 1px solid #5e00b6;
    padding: 10px;
    background-color: #681ae6;
    color: #ffffff;
    text-decoration: double;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    }
.footer ul{
    display: flex;
    width: 100%;
    list-style: none;
    border: 2px solid rebeccapurple;
    padding: 5px;
    background-color: #c5ee67;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.entry {
    border: 1px solid #5e00b6;
    padding: 10px;
    background-color: #681ae6;
    color: #ffffff;
    text-decoration: double;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
}
.header {
    background-color: #c5ee67;
    color: #fff;
    display: flex; 
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.header ul a {
    border: 1px solid #5e00b6;
    padding: 10px;
    background-color: #681ae6;
    color: #ffffff;
    text-decoration: double;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
}
